<!DOCTYPE html>
<html>
<head>
<title>Linux Project 360 Camera </title>
</head>
<body>

<h1>Kurt and Kar: Real-Time Moving Camera</h1>
<p>Take pictures of the surrounding area using the arrows and button</p>

<div class = "gallery">
<h1> Gallery </h1>
<p> contains images from past captures <p>
<p><a href="/gallery/">Go To Gallery</a></p>
</div>

<div class = "cameraView">
	<p>Enter degree/angle numbers for camera direction:</p>
</div>

<form id="degreeNumbers" action="/something.php">
  Vertical Degree: <input type="number" name="vdegree"><br>
  Horizontal Degree: <input type="number" name="hdegree"><br><br>
  <input type="button" onclick="myFunction()" value="Take Picture">
</form>

</body>

<script>
function myFunction() {
    document.getElementById("degreeNumbers").submit();
}
</script>
	
<style>

div.gallery{
	background-color:red;
    color: black;
    margin: 20px 0 20px 0;
    padding: 10px;
    }
    
div.cameraView{
	text.align:center;
   	display:block
    }

</style>

</html>
